<?xml version="1.0"?>
<launch>
    <!-- Associate to the robot description parameter, the urdf file that model the robot-->
    <param name="robot_description" command = "$(find xacro)/xacro --inorder $(find my_pkg)/urdf/ur5.xacro" />
    <!-- Read the joint value-->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    
    <!-- Visualization in Rviz-->
    <!--<node name="rviz" pkg="rviz" type="rviz" />-->
    <node name="rviz" pkg="rviz" type="rviz" args= "-d $(find my_pkg)/config/config.rviz" />
    <node pkg="my_pkg" type="joint_publisher.py" name="sine_wave_joint_publisher" output="screen">
        <!-- Parameters for sine wave -->
        <param name="amplitude" value="1.0" />
        <param name="frequency" value="0.5" />
    </node>

</launch>
    